---
layout: page
---
<div class="post">
  <article>
    {% assign profiles = site.data.members %}
    {% if profiles %}
      {% assign current_section = nil %}
      {% for profile in profiles %}
        {% if profile.section and profile.section != current_section %}
          {% assign current_section = profile.section %}
          <h2 class="member-section" id="{{ profile.section | slugify }}">{{ profile.section }}</h2>
        {% endif %}
        <hr>
        <div class="profile float-{% if profile.align == 'left' %}left{% else %}right{% endif %}">
          {% if profile.image %}
            {% assign profile_image_path = profile.image | prepend: 'assets/img/' %}
            {% if profile.image_circular %}
              {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
            {% else %}
              {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
            {% endif %}
            {% capture sizes %}(min-width: {{ site.max_width }}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px) 30vw, 95vw"{% endcapture %}
            {% include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=profile.image %}
          {% endif %}
          {% if profile.more_info %}
            <div class="more-info">{{ profile.more_info }}</div>
          {% endif %}
        </div>

        <div class="clearfix">
          <h3 id="{{ profile.name | slugify }}">{{ profile.name }}</h3>
          {% if profile.links %}
            <table class="member-links">
              {% for link in profile.links %}
                <tr>
                  <td class="link-icon">
                    {% case link.type %}
                      {% when 'website' %}
                        <i class="fa-solid fa-globe"></i>
                      {% when 'google_scholar' %}
                        <i class="ai ai-google-scholar"></i>
                      {% when 'github' %}
                        <i class="fa-brands fa-github"></i>
                      {% when 'email' %}
                        <i class="fa-solid fa-envelope"></i>
                      {% when 'orcid' %}
                        <i class="ai ai-orcid"></i>
                      {% when 'linkedin' %}
                        <i class="fa-brands fa-linkedin"></i>
                      {% else %}
                        <i class="fa-solid fa-link"></i>
                    {% endcase %}
                  </td>
                  <td class="link-text">
                    <a href="{{ link.url }}">
                      {% case link.type %}
                        {% when 'website' %}Personal Website
                        {% when 'google_scholar' %}Google Scholar
                        {% when 'github' %}GitHub
                        {% when 'email' %}Email
                        {% when 'orcid' %}ORCID
                        {% when 'linkedin' %}LinkedIn
                        {% else %}{{ link.type }}
                      {% endcase %}
                    </a>
                  </td>
                </tr>
              {% endfor %}
            </table>
          {% endif %}
          {% if profile.content %}
            {% capture profile_content %}{% include_relative {{ profile.content }} %}{% endcapture %}
            {{ profile_content | markdownify }}
          {% endif %}
        </div>
      {% endfor %}
    {% endif %}
  </article>
</div>
